body
{
	/*background-color: #E2E2FF;*/
	background-color: white;
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
	font-size: 12pt;
}

hp
{
	color: purple;	
}

neutral
{
	color: blue;
}

atk
{
	color: lightcoral;
}

def
{
	color: lightgreen;
}

money
{
	color: #AA5500;
}

.console
{
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
	width: 100%;
	padding: 4px;
	height: 500px;
	color: black;
	overflow-x: hidden;
	overflow-y: scroll;
	overflow-wrap: hyphenate;
	 white-space: pre-wrap; /* css-3 */
	 white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	 white-space: -pre-wrap; /* Opera 4-6 */
	 white-space: -o-pre-wrap; /* Opera 7 */
	 word-wrap: break-word; /* Internet Explorer 5.5+ */
}

message
{
	margin-top: 5px;
	margin-bottom: 5px;
}

a.command
{
	color: grey;
	padding-left: 2px;
	margin-left: 12px;
	border-left: 1px solid grey;
}

a.command:hover
{
	color:lightblue;
	border-color:lightblue;	
}

good
{
	color: green;
}

bad
{
	color: red;
}

.input
{
	border: 1px solid grey;
	width: 100%;
	background-color: white;
	height: 20px;
	color: black;
	margin-top: 10px;
	margin-left: 10px;
	font-weight: bold;
}

#websocketStatus
{
	font-weight: bold;
	float: right;
	font-size: 13px;
	color: grey;
}

description
{
	color: grey;
	font-style: italic;
}

.wrapper
{
	width: 85%;
	margin:auto;
}

a:link
{
	color:inherit;
	text-decoration:none;
}

a:visited
{
	color:inherit;
}

a:active
{
	color:inherit;
}

a:hover
{
	color:inherit;
}